
@{
    ViewData["Title"] = "MyWork";
}

<h1>MyWork</h1>
<html>
    <head>
        <tile> My WorkSpace</tile>
    </head>
    <body>
        <h1> This is my first heading (h1)</h1>
       
    </body>
</html>
