

body{
    margin: 0;
    padding:20px;
    font-family: Quicksand, sans-serif;
    background-image: url('/images/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}

.background-image{
     height: 100vh;
     display:flex;
     justify-content: center;
     color: white;
     text-align: center;
     position: relative;
    
}
 